

.chk_bookmark label {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.icon_bookmark2 {
    width: 19px;
    height: 29px;
    background-image: url(../../imgs/clipping/sp_icon.png);
     background-position: -90px -290px;
}

.bookmark_On {
    width: 19px;
    height: 29px;
    background-image: url(../../imgs/clipping/sp_icon.png);
     background-position: -60px -290px;
}

.bookmark_Off {
    width: 19px;
    height: 29px;
    background-image: url(../../imgs/clipping/sp_icon.png);
     background-position: -90px -290px;
}

.bmk {
overflow: hidden;
}

[class^=icon_] {
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    color: rgba(1, 0, 0, 0) !important;
    display: inline-block;
    overflow: hidden;       
}